```gitignore
# Compiled and binary files
*.pyc
__pycache__/

# Dependencies
venv/
.venv/
.env
.env.local
*.env.*

# Editors and IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Logs
*.log

# Build artifacts
build/
dist/
target/
```